html,
body {
    background-color: black;
    width: 100%;
    height: 100%;
    overflow-y: visible;
    overflow-x: hidden;
    user-select: none;
}

html {
    scroll-behavior: smooth;
}

.header {
    width: 100%;
    height: 100%;
    background-image:
        radial-gradient(190% 60% at 50% 38%,
            rgba(255, 181, 72, 0), 73.22%,
            #000000 98%),
        url('../assets/main-bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.navbar {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.75);
}

.nav-link:hover,
#logo:hover {
    color: #FBB341 !important;
}

.header-info {
    padding-top: 10%;
    width: 100%;
    height: 90%;
    color: white;
    text-align: center;
}

.header-tittle-info {
    width: 100%;
    font-family: 'Bebas Neue';
    font-size: 8vw;
    font-weight: bold;
    font-style: bold;
    line-height: 50px;
    letter-spacing: 4px;
    margin-bottom: 10px;
}

.header-mini-info {
    font-size: 24px;
    font-style: normal;
    font-weight: normal;
    font-family: 'Bebas Neue', Helvetica, sans-serif;
    letter-spacing: 5px;
    line-height: 40px;
    flex: 1;
    margin-bottom: 50px;
    padding-top: 20px;
}

.header-info-button:hover {
    background-color: #E0A800;
}

.header-scroll-link-wrapper {
    text-decoration: none;
    color: white;
}
